@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li {
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  color: #6667ab;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

section {
  padding-bottom: 32px;
}
