@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: #6667ab;
}

* {
  font-family: 'Pretendard-Regular';
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

section {
  padding-bottom: 32px;
}
