.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h1 {
  @apply md:text-4xl text-3xl md:mt-20 mt-16 mb-4 leading-snug;
  margin-top: 80px;
}

.markdown h2 {
  @apply md:text-3xl text-2xl md:mt-16 mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply md:text-2xl text-xl md:mt-12 mt-8 mb-4 leading-snug font-black;
  margin-top: 40px;
}

.markdown h4 {
  @apply md:text-xl text-base md:mt-8 mt-4 mb-4 leading-snug font-black;
  margin-top: 40px;
}

.markdown > * > * > span {
  @apply overflow-x-scroll scrollbar-hide;
}

.markdown a {
  @apply md:text-lg sm:text-base text-sm leading-snug;
}

.markdown p {
  @apply md:text-lg sm:text-base text-sm md:leading-8 leading-6;
  line-height: 2rem;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 24px;
}

.markdown li {
  @apply md:text-lg sm:text-base text-sm leading-snug;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 24px;
}

.markdown figure {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.markdown figcaption {
  color: gray;
}

.markdown code {
  @apply md:text-base sm:text-sm text-xs leading-snug;
}

.markdown pre code {
  white-space: pre-wrap; /* Enable wrapping for preformatted text */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Alternative for breaking long words */
}

.markdown p a {
  white-space: pre-wrap; /* Enable wrapping for preformatted text */
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word; /* Alternative for breaking long words */
}

.markdown p code {
  /* in-line code block*/
  color: #a669db;
  background-color: #f5f2f2;
  border-radius: 4px;
  border: 1px solid darkgray;
  padding: 2px 4px 2px 4px;
  margin-right: 2px;
}

.markdown blockquote {
  border-top: solid 2px lightgrey;
  border-bottom: solid 2px lightgrey;
  background-color: #fafafa;
  padding: 1px 12px 1px 12px;
  margin: 0px 24px 0px 12px;
}

/* Custom tag styles */
.markdown figure {
  width: 30vw;
  min-width: 300px;
  min-height: 100px;
  border: 1px solid darkgray;
  padding: 4px 16px 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: medium;
  color: gray;
}

.markdown figure p {
  color: black;
  font-weight: 500;
  font-size: large;
  margin-top: 4px;
  margin-bottom: 4px;
}
